
body{
    background-color: rgb(164, 142, 142);
}



.subforum{
    margin-top: 20px;
}
.subforum-title{
    background-color: #78677aea;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
}
.subforum-row{
    display: grid;
    grid-template-columns: 10% 100% ;
}
.subforum-column{
    color: rgba(47, 14, 154, 0.5);
    padding: 10px;
    margin:4px;
    border-radius: 6px;
    background-color:whitesmoke;
}
.subforum-description {
    margin-block: 0;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 60px;
}

.subforum-devider{
    display:inline-block;   
}
.banner{
    
    background:url(images/bannerA.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
	min-height:395px;
	padding:3.5em 0;
    
}