body{
    background-color: rgb(164, 142, 142);
}
.subforum{
    text-align:left;
	overflow:hidden;
	margin-bottom:60px;
}
.subforum-title{
    font-family: 'Raleway', sans-serif;
	font-size:18px;
	font-weight:700;
	line-height:30px;
    color:#db1c1c;
}
.subforum-row{
    display: grid;
    grid-template-columns: 7% 93% ;
}
.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#793838;
}
.subforum-description {
    margin-block: 0;
}
.banner{
  
    background-image: url('C:/xampp/htdocs/ESSAI 1 INTEGRATION/test/View/Frontend/assets/img/Forum/page-banner-7.jpg');}
    